article.card-review
  header.card-review__header
    .card-review__avatar
      img(src="https://avatar.iran.liara.run/public/girl" alt="" loading="lazy")
    .card-review__info
      strong.card-review__name Naura Silvana
      .card-review__rating
        | Звездный рейтинг
        //- include ../star-rating/star-rating
  section.card-review__body
    blockquote.card-review__text
      p.
        &#10077;Lorem ipsum dolor sit amet, consectetur adipiscing elit
        ut aliquam, purus sit amet luctus venenatis.&#10078;
