/* stylelint-disable scss/at-rule-conditional-no-parentheses */
/* stylelint-disable media-feature-range-notation */

@use "./functions" as *;

$laptop-big: 1439.98;
$laptop: 1199.98;
$laptop-s: 1023.98;
$tablet-big: 991.98;
$tablet: 767.98;
$mobile: 639.98;
$mobile-m: 575.98;

@mixin laptop-big-above {
  @media (min-width: em($laptop-big)) {
    @content;
  }
}

@mixin laptop-above {
  @media (min-width: em($laptop)) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: em($laptop)) {
    @content;
  }
}

@mixin laptop-small {
  @media (max-width: em($laptop)) {
    @content;
  }
}

@mixin tablet-big-above {
  @media (min-width: em($tablet-big)) {
    @content;
  }
}

@mixin tablet-big {
  @media (max-width: em($tablet-big)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: em($tablet)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: em($mobile)) {
    @content;
  }
}

@mixin mobile-medium {
  @media (max-width: em($mobile-m)) {
    @content;
  }
}

@mixin hover($hasActiveEffectOnMobile: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($hasActiveEffectOnMobile) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
