@use "../../../styles/helpers" as *;

.menu {
  padding-block: rem(20) rem(26);

  &__container {
    max-width: calc(rem(1192) + rem(30));
  }

  &__head {
    margin-bottom: rem(32);
    max-width: rem(580);
    margin-inline: auto;
  }

  &__list {
    @extend %list-reset;

    display: grid;
    grid-template-columns: repeat(4, rem(280));
    margin-bottom: rem(70);
    gap: rem(24);
  }

  &__action {
    @extend %flex-center;
  }
}
