-
  var products = [
    {
      name: "Mie Ramen",
      text: "Lorem ipsum dolor sit amet, consectetur",
      price: "20.2",
      imageName: "mie-ramen",
    },
    {
      name: "Salad Tahu",
      text: "Lorem ipsum dolor sit amet, consectetur",
      price: "20.2",
      imageName: "salad-tahu",
    },
    {
      name: "Roti Bakar",
      text: "Lorem ipsum dolor sit amet, consectetur",
      price: "20.2",
      imageName: "roti-bakar",
    },
    {
      name: "Spaghetti",
      text: "Lorem ipsum dolor sit amet, consectetur",
      price: "20.2",
      imageName: "spaghetti",
    }
  ]
