nav.site-navigation#navbar(aria-label="Pages navigation")
  ul.site-navigation__list
    li.site-navigation__item
      a.site-navigation__link.site-navigation__link--current(href="/" aria-current="page") Home
    li.site-navigation__item
      a.site-navigation__link(href="#menu") Menu
    li.site-navigation__item
      a.site-navigation__link(href="#advantages") How it works
    li.site-navigation__item
      a.site-navigation__link(href="#!") About
    li.site-navigation__item
      a.site-navigation__link(href="#!") Contacts
