include ../section-head/section-head

.customers
  .customers__head
    +sectionHead(
      "left",
      "What the say",
      "What Our Customers Say About Us",
      null,
    )

  .customers__slider
    include ../../features/slider/slider
