// Slider main container
.swiper.customers-slider
  // Additional required wrapper

  .swiper-wrapper
    // Slides
    .swiper-slide
      include ../../blocks/cards/card-review
    .swiper-slide
      include ../../blocks/cards/card-review
    .swiper-slide
      include ../../blocks/cards/card-review
    .swiper-slide
      include ../../blocks/cards/card-review
    .swiper-slide
      include ../../blocks/cards/card-review
    .swiper-slide
      include ../../blocks/cards/card-review

  // If we need pagination
  .swiper-pagination
