@use "./helpers" as *;

:root {
  // Container
  --container: #{rem(1180)};
  --container-padding-x: #{rem(15)};

  // Fonts
  --font-primary: "ReadexPro", sans-serif;

  // Base colors
  --color-dark: #000;
  --color-light: #fff;
  --color-accent: #ffcb45;

  // Text colors
  --tc-primary: #1d1d1d;
  --tc-light: rgba(29, 29, 29, 0.7);

  // Background
  --bgc-primary: #fff;
  --bgc-accent: #fff9ea;

  // Box-shadow
  --box-shadow-social: 0 4px 12px 0 rgba(29, 29, 29, 0.15);
  --box-shadow-card: 2px 5px 12px 0 rgba(0, 0, 0, 0.15);
  --box-shadow-image: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
}
