@use "../../../styles/helpers" as *;

.advantages {
  padding-block: rem(80) rem(40);

  &__head {
    margin-bottom: rem(32);
    max-width: rem(612);
    margin-inline: auto;
  }

  &__list {
    @extend %list-reset;

    display: flex;
    justify-content: space-around;
  }

  &__item {
    flex: 0 1 rem(242);
    padding-top: rem(204);
    text-align: center;
    background-position: center top;
    background-size: rem(180) auto;
    background-repeat: no-repeat;

    &--order {
      background-image: url("../images/advantages/order.png");
      background-image: image-set(
        url("../images/advantages/order.avif") type("image/avif") 1x,
        url("../images/advantages/order@2x.avif") type("image/avif") 2x,
        url("../images/advantages/order.webp") type("image/webp") 1x,
        url("../images/advantages/order@2x.webp") type("image/webp") 2x,
        url("../images/advantages/order.png") 1x,
        url("../images/advantages/order@2x.png") 2x
      );
    }

    &--delivery {
      background-image: url("../images/advantages/delivery.png");
      background-image: image-set(
        url("../images/advantages/delivery.avif") type("image/avif") 1x,
        url("../images/advantages/delivery@2x.avif") type("image/avif") 2x,
        url("../images/advantages/delivery.webp") type("image/webp") 1x,
        url("../images/advantages/delivery@2x.webp") type("image/webp") 2x,
        url("../images/advantages/delivery.png") 1x,
        url("../images/advantages/delivery@2x.png") 2x
      );
    }

    &--quality {
      background-image: url("../images/advantages/courier.png");
      background-image: image-set(
        url("../images/advantages/courier.avif") type("image/avif") 1x,
        url("../images/advantages/courier@2x.avif") type("image/avif") 2x,
        url("../images/advantages/courier.webp") type("image/webp") 1x,
        url("../images/advantages/courier@2x.webp") type("image/webp") 2x,
        url("../images/advantages/courier.png") 1x,
        url("../images/advantages/courier@2x.png") 2x
      );
    }
  }

  &__subtitle {
    margin: 0 0 rem(15);
    font-weight: 600;
    font-size: rem(28);
  }

  &__description {
    margin: 0;
    font-weight: 500;
    font-size: rem(20);
    color: var(--tc-light);
  }
}
