include ../section-head/section-head

section.advantages
  .container
    .advantages__head
      +sectionHead(
        "center",
        "How it works",
        "What We Serve",
        "Product Quality Is Our Priority, And Always Guarantees Halal And Safety Until It Is In Your Hands.",
      )

    ul.advantages__list
      li.advantages__item.advantages__item--order
        h3.advantages__subtitle Easy To Order
        p.advantages__description You only order through the app
      li.advantages__item.advantages__item--delivery
        h3.advantages__subtitle Fastest Delivery
        p.advantages__description Delivery will be on time
      li.advantages__item.advantages__item--quality
        h3.advantages__subtitle Best Quality
        p.advantages__description The best quality of food for you
