extends ../pug/layouts/base

block variables
  - var pageTitle = "Document";
  - var pageDescription = "Description";

block content
  main.main
    include ../components/blocks/hero/hero
    include ../components/blocks/advantages/advantages
    include ../components/blocks/menu/menu
    include ../components/blocks/banner/banner
