@use "../../../styles/helpers" as *;

.gallery {
  @extend %list-reset;

  display: inline-grid;
  grid-template-columns: rem(208) rem(208);
  grid-template-rows: rem(187) rem(208);
  overflow: hidden;
  border-radius: rem(10);
  gap: rem(15);

  &__item {
    position: relative;

    &--big {
      grid-column: 1 / -1;
      grid-row: 1 / 2;
    }
  }

  &__button {
    position: absolute;
    inset: 0;
    display: block;
    border: none;
    padding: 0;
    background-color: transparent;

    &:focus-visible,
    &:hover {
      .gallery__button-overlay {
        opacity: 1;
        visibility: visible;
        transition: visibility 0s linear 0s, opacity 300ms;
      }
    }
  }

  &__button-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms;
  }

  &__icon {
    stroke: var(--color-light);
  }
}
