@use "../../../styles/helpers" as *;

.favorite {
  @extend %flex-center;

  border: none;
  padding: 0;
  width: rem(24);
  height: rem(24);
  background-color: transparent;
  cursor: pointer;

  &:focus-visible {
    outline: rem(2) solid var(--tc-dark);
    outline-offset: rem(2);

    .favorite__icon {
      fill: var(--color-accent);
      fill-opacity: 1;
    }
  }

  &--active {
    .favorite__icon {
      fill: var(--color-accent);
      fill-opacity: 1;
    }
  }

  &__icon {
    fill: var(--tc-dark);
    fill-opacity: 0.7;
  }
}
